@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    background: linear-gradient(#e0acf7, #f8b37f);
    overflow: hidden;
}


.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 50px;
}

.form-content .form-items {
    border: 0;
    background-color: #241263;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 255, 0.3);
    padding: 40px;
    display: inline-block;
    width: 600px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h2 {
    color: #e0acf7;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0;
}
.text-justify
{
    color: #e0acf7;
    font-size: 20px;
    font-weight: 200;
    padding-left: 200px;
    padding-top: 30px;
}

.btn-primary{
    background-color: #e0acf7;
    outline: none;
    border: 0;
    border-radius: 6px;
    box-shadow: none;
    padding: 8px 30px;
    font-size: 15px;
    text-decoration: none;
    color: #241263;
}

.form-button
{
    text-align: center;
    padding-top: 50px;

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #f8b37f;
    outline: none !important;
    border: none !important;
    box-shadow: none;

}
.img-thumbnail
{
    width: 140px;
}
